html{
    background-color:#F3F5FC;
}
header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
.entradasalida{
    display: flex;
}
.entradasalida textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
#texto{
    border-color: #F3F5FC;
    background-color: #F3F5FC;
    position: absolute;
    width: 850px;
    height: 613px;
    left: 160px;
    top: 168px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    font-family: 'Inter';
    padding: 15px;
    border-radius: 20px;
}
#texto :placeholder{
    color: #0A3871;
}
#resultnone{
    position: absolute;
    width: 400px;
    height: 850px;
    left: 1100px;
    top: 40px;
    padding: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.muneco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 70px;
    top: 150px;
}
legend{
    text-align: center;

}
.ningunmensaje{
    font-family: 'inter';
    font-style: bold;
    color: #0A3871;
    position: absolute;
    font-size:32px;
    width: 336px;
    height: 122px;
    left: 75px;
    top: 530px;
}
.ingresatexto{
    font-family: 'inter';
    font-style: normal;
    font-size: 24px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 75px;
    top: 620px;
}
#result{
    display: none;
    border: #FFFFFF;
    position: absolute;
    width: 400px;
    height: 850px;
    left: 1100px;
    top: 40px;
    padding: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.copy{
    width: 328px;
    height: 67px;
    background: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 20px;
    color: #0A3871;
    position: absolute;
    left: 1175px;
    top: 855px;
}
.alertformat{
    font-family: 'inter';
    font-style: normal;
    position: absolute;
    left: 240px;
    top: 820px;
    text-align: center;
    font-size: 15px;
    color: #495057;

}
.botones{
    font-family: 'inter';
    font-style: normal;
    display: flex;
    gap: 24px;
    position: absolute;
    left: 240px;
    top: 855px;
}
.codificar .decodificar:hover{
    border-color: #495057;
}
.codificar .decodificar:active{
    border-color: #088c19;
}
.codificar{
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}
.decodificar{
    width: 328px;
    height: 67px;
    background: #F3F5FC;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 20px;
    color: #0A3871
}